<!DOCTYPE html>
<html xmlns:th="http - FORBIDDEN - www.thymeleaf.org" lang="en">
<head>
    <title>Resumes List</title>
    <link href="\css\index.css" rel="stylesheet" type="text/css"/>
    <script src="/js/index.js"></script>
</head>
<body>
<h1>Resumes List</h1>
<div  class="create-button">
    <a th:href="@{/resumes/create}"> <span class = "action" >Create</span></a>
</div>
<ul>
    <li th:each="employee : ${employees}">
        <div class="item">
            <div class = "name">
                <a th:href="@{/resumes/{id}(id=${employee.id})}"> <span th:text="${employee.name}"></span> </a>
            </div>
            <div class = "button-class">
                <a th:href="@{/resumes/edit/{id}(id=${employee.id})}"> <span class = "action">Update</span></a>
                <a th:href="@{/resumes/delete/{id}(id=${employee.id})}" onclick="return confirmDelete()"><span class = "action" >Delete</span></a>
            </div>
        </div>
    </li>
</ul>

</body>
</html>